* {
  outline: none;
}

:root {
  --mirabo-text-color: white;
  --mirabo-dark: #27272a;

  /* buttons */
  --mirabo-primary-color: #a855f7;
  --mirabo-secondary-color: #f4f4f5;

  --mirabo-background-color: #fff;
  --mirabo-border-radius: 0.5rem;
  --mirabo-gap: 1rem;
  --mirabo-default-font-size: 1rem;
}

/**/

html {
  scrollbar-width: thin;
  scrollbar-color: #d4d4d8 transparent;
  overflow: overlay;
  font-family: sans-serif;
  /* font-size: 1.125rem; */
  font-size: var(--mirabo-default-font-size);
}

body {
  color: var(--mirabo-dark);
  background-color: #f4f4f5;
  overflow: overlay;
  max-width: 65rem;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

img {
  border-radius: var(--mirabo-border-radius);
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--mirabo-dark);
}

/* 
  NAVBAR 
  I decided to use nav tag not header.

*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 100rem;
  background-color: white;
  margin-top: 1rem;
  padding: 0.75rem 1rem;

  position: sticky;
  top: 1rem;

  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
}

nav h5,
nav h4,
nav h1,
nav h2,
nav h3,
nav h6 {
  margin: 0;
}

/* Layout */

.between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--mirabo-gap);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--mirabo-gap);
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.grid.many {
  grid-template-columns: 1fr;
}

/* sm */
@media (min-width: 640px) {
  /* .grid {
    grid-template-columns: repeat(2, 1fr);
  } */
  .grid.many {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* md */
@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid.many {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid.many {
    grid-template-columns: repeat(4, 1fr);
  }
}
/*
@media (min-width: 1280px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
} */

/* heading */
h1 {
  font-size: 4rem;
  margin-top: 3.75rem;
  margin-bottom: 3.5rem;
}

h2 {
  font-size: 3rem;
  margin-top: 2.75rem;
  margin-bottom: 2.5rem;
}

h3 {
  font-size: 2rem;
  margin-top: 1.75rem;
  margin-bottom: 1.5rem;
}

h4 {
  font-size: 1.5rem;
  margin-top: 1.25rem;
  margin-bottom: 0.75rem;
}

h5 {
  font-size: 1.25rem;
  margin-top: 1rem;
  margin-bottom: 0.75rem;
}

h6 {
  font-size: 0.75rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0.25rem;
}

/* Form */
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input,
textarea,
select {
  padding: 1rem 1.25rem;
  border-radius: 0.5rem;
  border: solid 2px hsl(207, 56%, 87%);
}

textarea {
  resize: vertical;
  min-height: 1rem;
}

input:focus,
textarea:focus,
select:focus {
  border: solid 2px var(--mirabo-primary-color);
}

/* 
  BUTTON 
  - primary
    - usual
    - disabled
    - outline
    - outline disabled
  - secondary
    - usual
    - disabled
    - outline
    - outline disabled
  - contrast
    - usual
    - disabled
    - outline
    - outline disabled

  Tags:
  - button
  - *[role="button"] - any element which role is button
  - input[type="submit"] - submit buttons
  - input[type="reset"] - reset buttons, should be secondary or text
  - input[type="button"] - button inputs


  *[role="button"],
  input[type="submit"],
  input[type="reset"],
  input[type="button"],
  button
*/

/* all */
*[role="button"],
button {
  cursor: pointer;
  padding: 0.625rem 1rem;
  border-radius: 20rem;
  font-size: var(--mirabo-default-font-size);
  transition: 0.2s ease-in-out 0s;
}

*[role="button"] {
  display: inline-block;
}

/* 
  primary
  I desided to use :not to not overriding props. 
  But it takes more characters and looks a bit messy.
*/
*[role="button"]:not(.secondary):not(.contrast):not(.text):not(.outline),
button:not(.secondary):not(.contrast):not(.text):not(.outline) {
  background-color: var(--mirabo-primary-color);
  /* to make outline button and usual button same size */
  border: solid 2px var(--mirabo-primary-color);
  color: var(--mirabo-text-color);
}

*[role="button"]:not(.secondary):not(.contrast):not(.text).outline,
button:not(.secondary):not(.contrast):not(.text).outline {
  background-color: transparent;
  /* to make outline button and usual button same size */
  border: solid 2px var(--mirabo-primary-color);
  color: var(--mirabo-primary-color);
}

/* secondary */
*[role="button"].secondary:not(.outline),
button.secondary:not(.outline) {
  background-color: var(--mirabo-secondary-color);
  color: var(--mirabo-dark);
  /* to make outline button and usual button same size */
  border: solid 2px var(--mirabo-secondary-color);
}

*[role="button"].secondary.outline,
button.secondary.outline {
  background-color: transparent;
  border: solid 2px var(--mirabo-secondary-color);
}

/* contrast */
*[role="button"].contrast:not(.outline),
button.contrast:not(.outline) {
  background-color: var(--mirabo-dark);
  color: var(--mirabo-text-color);
  /* to make outline button and usual button same size */
  border: solid 2px var(--mirabo-dark);
}

*[role="button"].contrast.outline,
button.contrast.outline {
  background-color: transparent;
  border: solid 2px var(--mirabo-dark);
}

/* text */
*[role="button"].text,
button.text {
  border: 0;
  background-color: transparent;
  box-sizing: border-box;
  display: inline-block;
}

*[role="button"].text:before,
button.text:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  box-sizing: inherit;
  border-radius: 20rem;

  transform-origin: center;
  transform: scale(0);
  transition: transform 0.2s ease;
  z-index: -1;
}

*[role="button"].text:not(.outline)::before,
button.text:not(.outline)::before {
  background-color: var(--mirabo-secondary-color);
  border: solid 2px var(--mirabo-secondary-color);
}

*[role="button"].text.outline::before,
button.text.outline::before {
  border: solid 2px var(--mirabo-secondary-color);
}

*[role="button"].text:hover:before,
button.text:enabled:hover:before {
  transform: scale(1);
}

/* *[role="button"] {
  text-align: center;
  text-decoration: none;
  display: inline-block;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} */

button:hover:enabled,
input[type="submit"]:hover:enabled,
input[type="reset"]:hover:enabled,
*[role="button"]:hover {
  transform: scale(1.02);
}

button:disabled {
  cursor: default;
  filter: opacity(0.8);
}

button:active:enabled,
input[type="submit"]:active:enabled,
input[type="reset"]:active:enabled,
*[role="button"]:active {
  transform: scale(1);
}

/* CARD */

article {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #fff;
  /* box-shadow: 0px 0px 3px 1px #f4f4f5; */
  border-radius: var(--mirabo-border-radius);
  /* border: solid 2px #f4f4f5; */
}

/* 
  Footer

  If card has footer then we should place footer at the end.
  I didn't find another solution rather than flex.
*/

article > footer {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  gap: var(--mirabo-gap);
  flex-wrap: wrap;
}

/* HEADER */

article header {
  padding-bottom: 0.25rem;
  margin-bottom: 0.75rem;
}

.grid article {
  height: 100%;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #d4d4d8;
}
