/*
  Mirabo.css
  
  Born to conquer Minimal CSS framework world
  
  GitHub: https://github.com/roman-koshchei/mirabo
*/

:root {
  --mirabo-text-color: white;
  --mirabo-dark: #27272a;

  --mirabo-primary: #a855f7;
  --mirabo-secondary: #e4e4e7;

  --mirabo-background-color: #fff;
  --mirabo-border-radius: 0.5rem;
  --mirabo-gap: 1rem;
  --mirabo-default-font-size: 1rem;

  --mirabo-vertical-padding: 0.5rem;
}

* {
  outline: none;
  -webkit-tap-highlight-color: transparent;
  /* font-size: 1rem; */
}

/**/

html {
  scrollbar-width: thin;
  scrollbar-color: #d4d4d8 transparent;
  overflow: overlay;
  font-family: sans-serif;
  /* font-size: 1.125rem; */
  font-size: var(--mirabo-default-font-size);
}

body {
  color: var(--mirabo-dark);
  background-color: #f4f4f5;
  overflow: overlay;
  max-width: 65rem;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

img {
  border-radius: var(--mirabo-border-radius);
  width: 100%;
}

a {
  text-decoration: none;
}

/* 
  NAVBAR 
  I decided to use nav tag not header.

*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 100rem;
  background-color: white;
  margin-top: 1rem;
  padding: 0.75rem 1rem;

  top: 1rem;
}

/* Layout */

.between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--mirabo-gap);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--mirabo-gap);
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.grid.many {
  grid-template-columns: 1fr;
}

/* sm */
@media (min-width: 640px) {
  /* .grid {
    grid-template-columns: repeat(2, 1fr);
  } */
  .grid.many {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* md */
@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid.many {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid.many {
    grid-template-columns: repeat(4, 1fr);
  }
}
/*
@media (min-width: 1280px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
} */

/* heading */
h1 {
  font-size: 4rem;
  margin-top: 3.75rem;
  margin-bottom: 3.5rem;
}

h2 {
  font-size: 3rem;
  margin-top: 2.75rem;
  margin-bottom: 2.5rem;
}

h3 {
  font-size: 2rem;
  margin-top: 1.75rem;
  margin-bottom: 1.5rem;
}

h4 {
  font-size: 1.5rem;
  margin-top: 1.25rem;
  margin-bottom: 0.75rem;
}

h5 {
  font-size: 1.25rem;
  margin-top: 1rem;
  margin-bottom: 0.75rem;
}

h6 {
  font-size: 0.75rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

/* 
  FORM
  All inputs should be 100%
*/
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input,
textarea,
select {
  padding: 1rem 1.25rem;
  border-radius: 0.5rem;
  border: solid 2px var(--mirabo-secondary);
}

textarea {
  resize: vertical;
  min-height: 1rem;
}

input:focus,
textarea:focus,
select:focus {
  border: solid 2px var(--mirabo-primary);
}

form > button,
form > [role="button"],
form > input[type="submit"],
form > input[type="button"],
form > input[type="reset"] {
  width: 100%;
}

/* 

BUTTON 
  - primary
    - usual
    - disabled
    - outline
    - outline disabled
  - secondary
    - usual
    - disabled
    - outline
    - outline disabled
  - contrast
    - usual
    - disabled
    - outline
    - outline disabled

  Tags:
  - button
  - *[role="button"] - any element which role is button
  - input[type="submit"] - submit buttons
  - input[type="reset"] - reset buttons, should be secondary or text
  - input[type="button"] - button inputs


  *[role="button"],
  input[type="submit"],
  input[type="reset"],
  input[type="button"],
  button
*/

/* all */
[role="button"],
input[type="submit"],
input[type="button"],
input[type="reset"],
button {
  cursor: pointer;
  box-sizing: border-box;
  display: inline-block;
  user-select: none;

  padding: 0.6rem 1rem;
  border-radius: 20rem;

  font-size: var(--mirabo-default-font-size);
  color: var(--mirabo-text-color);
  background-color: var(--mirabo-primary);
  border: solid 2px var(--mirabo-primary);

  transition: transform 0.15s ease-in-out;
}

*[role="button"]:hover,
input[type="submit"]:enabled:hover,
input[type="button"]:enabled:hover,
input[type="reset"]:enabled:hover,
button:enabled:hover {
  /* text-decoration: underline; */
  filter: brightness(0.95);
  transform: scaleY(1.04) scaleX(1.02);
}

*[role="button"]:active,
input[type="submit"]:enabled:active,
input[type="button"]:enabled:active,
input[type="reset"]:enabled:active,
button:enabled:active {
  transform: scaleY(0.96) scaleX(0.98);
}

button:disabled {
  cursor: default;
  filter: opacity(0.7);
}

/* secondary */
*[role="button"].secondary,
input[type="submit"].secondary,
input[type="button"].secondary,
button.secondary {
  background-color: var(--mirabo-secondary);
  color: var(--mirabo-dark);
  border-color: var(--mirabo-secondary);
}

/* contrast */
*[role="button"].contrast,
input[type="submit"].contrast,
input[type="button"].contrast,
button.contrast {
  background-color: var(--mirabo-dark);
  color: var(--mirabo-text-color);
  border-color: var(--mirabo-dark);
}

/* Outline */

*[role="button"].outline,
input[type="submit"].outline,
input[type="button"].outline,
input[type="reset"].outline,
button.outline {
  background-color: transparent;
  color: var(--mirabo-primary);
  border: solid 2px var(--mirabo-primary);
}

/* secondary outline */
*[role="button"].secondary.outline,
input[type="submit"].secondary.outline,
input[type="button"].secondary.outline,
button.secondary.outline {
  color: var(--mirabo-dark);
  border-color: var(--mirabo-secondary);
}

/* secondary outline */
*[role="button"].contrast.outline,
input[type="submit"].contrast.outline,
input[type="button"].contrast.outline,
button.contrast.outline {
  color: var(--mirabo-dark);
  border-color: var(--mirabo-dark);
}

/* 
  primary
  I desided to use :not to not overriding props. 
  But it takes more characters and looks a bit messy.
*/

/* text */
/* *[role="button"].text,
input[type="submit"].text,
input[type="button"].text,
button.text {
  border: 0;
  background-color: transparent;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  color: #27272a;
}

*[role="button"].text:before,
input[type="submit"].text:before,
input[type="button"].text:before,
button.text:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  box-sizing: inherit;
  border-radius: 20rem;

  transform-origin: center;
  transform: scale(0);
  transition: transform 0.2s ease;
  z-index: -1;
}

*[role="button"].text:not(.outline)::before,
input[type="submit"].text:not(.outline)::before,
input[type="button"].text:not(.outline)::before,
button.text:not(.outline)::before {
  background-color: var(--mirabo-secondary-color);
  border: solid 2px var(--mirabo-secondary-color);
}

*[role="button"].text.outline::before,
input[type="submit"].text.outline::before,
input[type="button"].text.outline::before,
button.text.outline::before {
  border: solid 2px var(--mirabo-secondary-color);
}

*[role="button"].text:hover::before,
input[type="submit"].text:enabled:hover::before,
input[type="button"].text:enabled:hover::before,
button.text:enabled:hover::before {
  transform: scale(1);
} */

/* *[role="button"] {
  text-align: center;
  text-decoration: none;
  display: inline-block;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} */

/* CARD */

article {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #fff;
  /* box-shadow: 0px 0px 3px 1px #f4f4f5; */
  border-radius: var(--mirabo-border-radius);
  /* border: solid 2px #f4f4f5; */
}

/* 
  Footer

  If card has footer then we should place footer at the end.
  I didn't find another solution rather than flex.
*/

article > footer {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  gap: var(--mirabo-gap);
  flex-wrap: wrap;
}

/* HEADER */

article header {
  padding-bottom: 0.25rem;
  margin-bottom: 0.75rem;
}

.grid article {
  height: 100%;
}

/* TABLE */
table {
  width: 100%;
  border: none;
  border-collapse: collapse;
}

th,
td {
  padding: 1rem;
  text-align: start;
  font-weight: 400;
}

tr:not(:last-child) {
  border-bottom: solid 1px var(--mirabo-secondary);
}

thead {
  border-bottom: solid 2px var(--mirabo-secondary);
  font-size: 1.125rem;
}

tfoot {
  border-top: solid 2px var(--mirabo-secondary);
  font-size: 1.125rem;
}

/**/

/* MODAL */
dialog {
  border: 0;
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #d4d4d8;
}
